@model BarManagerProgram.Models.Inventory

@{
    ViewBag.Title = "My Inventory";
}

<h2>My Inventory</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VodkaBottleCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GinBottleCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhiteRumBottleCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TequilaBottleCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpicedRumBottleCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandyBottleCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhiskeyBottleCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScotchBottleCount)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.VodkaBottleCount)
        </td>
        <td>
            @Html.DisplayFor(model => model.GinBottleCount)
        </td>
        <td>
            @Html.DisplayFor(model => model.WhiteRumBottleCount)
        </td>
        <td>
            @Html.DisplayFor(model => model.TequilaBottleCount)
        </td>
        <td>
            @Html.DisplayFor(model => model.SpicedRumBottleCount)
        </td>
        <td>
            @Html.DisplayFor(model => model.BrandyBottleCount)
        </td>
        <td>
            @Html.DisplayFor(model => model.WhiskeyBottleCount)
        </td>
        <td>
            @Html.DisplayFor(model => model.ScotchBottleCount)
        </td>
        @if (User.IsInRole("Manager"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = @Model.InventoryId })
            </td>
        }
    </tr>


</table>
